<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated relational -->
      <package
            uri="http://www.hvl.no/pcs955/mt/relational"
            class="relational.RelationalPackage"
            genModel="relational.genmodel"/>
   </extension>

</plugin>
